<div class="card">
  <td><%= image_tag(product.foto_url) if product.foto.present? %></td>

  <!-- <img class="card__image" src="https://source.unsplash.com/300x225/?wave" alt="wave" /> -->
  <div class="card-title">
    <a href="#" class="toggle-info btn">
      <span class="left"></span>
      <span class="right"></span>
    </a>
    <h2>
        <%= product.nombre %>
         <!-- <small><b>Marca: </b>< product. ></small>  -->
    </h2>
  </div>
  <div class="card-flap flap1">
    <div class="card-description">
      <%= product.descripcion %>
    </div>
    <div class="card-flap flap2">
      <div class="card-actions">
        <!-- < link_to 'Show', product > -->
        <a href="#" class="btn">Ver producto </a>
      </div>
    </div>
  </div>
</div>
